[software]
# path to tabix binary
tabix = /home/yshira/bin/tabix-0.2.6/tabix 

# path to bgzip binary
bgzip = /home/yshira/bin/tabix-0.2.6/bgzip 

[alignment]
# reference genome used for creating validation sequences
reference_genome = /home/yshira/common/ref/GRCh37-lite_PCAWG_bwa-0.7.12/GRCh37-lite_PCAWG.fa

[star_junction_filt]
read_num_thres = 3
overhang_thres = 10
remove_annotated = True

[annotation]
# annotation information directory
annotation_dir = /home/yshira/mutrans/resource


[debug]
# debug_mode is boolean key (True or False). When True, many intermediate files are remained for debugging.
debug_mode = False 

